* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.profile_box {
    height: 74vh;
    width: 27vw;
    background-color: rgb(35, 35, 35);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.profile-circle {
    height: 10vh;
    width: 10vh;
    background-color: white;
    margin-top: 50px;
    border-radius: 50%;
    background-image: url('avatar-jessica.jpeg');
    background-size: cover;
}